* {
	--bg-color: #222;
	--highlight: var(--color6);
	--primary: var(--color15);
	color: var(--primary);
	background: var(--bg-color);

	/* Default kitty theme (https://sw.kovidgoyal.net/kitty/conf/#the-color-table) */
	--color0: #000000;
	--color8: #767676;
	--color1: #cc0403;
	--color9: #f2201f;
	--color2:  #19cb00;
	--color10: #23fd00;
	--color3:  #cecb00;
	--color11: #fffd00;
	--color4:  #0d73cc;
	--color12: #1a8fff;
	--color5:  #cb1ed1;
	--color13: #fd28ff;
	--color6:  #0dcdcd;
	--color14: #14ffff;
	--color7:  #dddddd;
	--color15: #ffffff;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-height: 90vh;
}

#fetch {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	font-family: "JetBrains Mono", "monospace";
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

#michael-photo-container {
	height: 100%;
	padding-top: 1lh;
}

#michael-photo {
	width: 15rem;
	height: 15rem;
	border-radius: 7.5rem;
	object-fit: cover;
	object-position: 0 10%;
}

#basic-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.text-highlight {
	color: var(--highlight);
	font-weight: bold;
}

.whitespace {
	white-space: pre;
}
